body {
  font-family: Arial, Helvetica, sans-serif;
}

#top {
  background-color: rgb(85, 0, 242);
  background-image: linear-gradient(to right, rgb(64, 3, 246) , rgb(28, 2, 106));
  color: white;
}

aside {
  display: flex;
  flex-direction: column;
  margin-right: 9px;
}

header {
  font-weight: bold;
}

main header {
  font-size: 150%;
}

.forecast-card {
  background-color: rgb(40, 46, 66);
  color: white;
  font-size: 90%;
}

.forecast-card div {
  padding-bottom: 1rem;
}

.search-button {
  background-color: rgb(64, 3, 246);
  color: white;
}

.stored-search-button {
    background-color: gray;
    color: black;
}